<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1FsFlIGdBpzTKjzRq5nfDmJcG72Vgf5M</string>
	<key>GCM_SENDER_ID</key>
	<string>242020444786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.furever.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>project-furevr</string>
	<key>STORAGE_BUCKET</key>
	<string>project-furevr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:242020444786:ios:e3b3858ba9721d21b270eb</string>
</dict>
</plist>